.box {
    display: block;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

@media all and (max-width: 780px) {
    .box {
        padding: 0 20px;    
    }
}